/*all fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bakbak+One&family=Be+Vietnam+Pro:wght@200&family=Courgette&family=Open+Sans:wght@300&family=Poppins:wght@500&family=Roboto:wght@300&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bakbak+One&family=Be+Vietnam+Pro:wght@200&family=Courgette&family=Inter&family=Open+Sans:wght@300&family=Poppins:wght@500&family=Roboto:wght@300&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bakbak+One&family=Be+Vietnam+Pro:wght@200&family=Courgette&family=Inter&family=Open+Sans:wght@300&family=Poppins:wght@500&family=Roboto:wght@300;700&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bakbak+One&family=Be+Vietnam+Pro:wght@200&family=Courgette&family=Inter&family=Manrope:wght@700&family=Open+Sans:wght@300&family=Poppins:wght@500&family=Roboto:wght@300;700&family=Yeseva+One&display=swap');
/*common style*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#sec1{
    display:flex;
}
header h1{
    font-weight: 700;
    font-size: 30px;
    color: #3A3A3A;
    margin: 130px 0px 0px 190px;
    margin-bottom: 0px;
}
.maina{
    width: 155px;
    Padding: 10px 2px 2px 2px;
    font-weight: 700;
    font-size: 100px;
    text-decoration: none;
    background-color: #E02C6D;
    color:#FFFFFF;
    margin-left: 670px;
}
/* section1 styles */
#sec1{
    margin: 0px 0px 0px 75px;
}
#sec1firstdiv{
    width: 582px;
    height: 270px;
    margin: 170px 131px 190px 120px;
}
#sec1firstdiv h1{
    width: 582px;
    height: 133px;
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}
#sec1firstdiv p{
    width: 505px;
    height: 60px;
    font-weight: 600;
    color: #3A3A3A;
}
#sec1firstdiv a{
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 41px;
    Padding: 10px 24px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}
#sec1 img{
    width: 440px;
    height: 370px;
    margin: 181px 132px 0px 0px;
}
/* logo section styles */
#logosec{
    width: 1110px;
    height: 110px;
    margin: 30px 140px 70px 265px;
}
#logosec img{
    margin: 40px 20px 42px 20px;
}
/* section2 styles */
#sec2heading{
    width: 262px;
    height: 70px;
    color:#3A3A3A;
    margin: 76px auto 26px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
#sec2{
    margin: 0 auto;
    width: 1047px;
    height:1450px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-gap: 0px 30px;
    margin-bottom: 50px;
}
#sec2 div{
    width: 300px;
    height: 418px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 20px 20px;
}
#sec2 img{
    width: 300px;
    height: 256px;
    border-radius: 15px;
}
#sec2 h1{
    color: #18191F;
    font-weight: 500;
    font-size: 28px;
    margin: 0px 0px 7px;
}
#sec2 p{
    font-family: 'Inter', sans-serif;
    margin: 0 0;
}
.price{
    font-weight: 400;
    font-size: 24px;
}
.description{
    font-weight: 700;
    font-size: 14px;
}
.fas{
    color: #FB8200;
}
.rating{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #5E6366;
    font-weight: 700;
    font-size: 14px;
    padding-left: 16px;
}
.fa-arrow-right{
    color: honeydew;
}
#seemore{
    width: 150px;
    height: 24px;
    color: #E02C6D;
    font-weight: 700;
    font-size: 16px;
    margin: 0px 0px 0px 1212px;
    text-decoration: none;
}
/* sec3 styles */
#sec3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin: 115px 0px 200px 44px;
    width: 1400px;
    height: 600px;
    border-radius: 20px;
    box-shadow: -15px -15px 10px rgb(170, 96, 96);
}
#sec3 h1{
    width: 404px;
    height: 40px;
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
    margin-bottom: 0;
    margin-left: 200px;
}
#sec3 p{
    width: 404px;
    height: 45px;
    margin-left: 200px;
    margin-top: 70px;
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}
#sec3 a{
    width: 155px;
    height: 44px;
    Padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    background-color: #E02C6D;
    color:#FFFFFF;
    margin-left: 450px;
    margin-top: 100px;
}
#sec3 img{
    width:404px;
    height: 270px;
    margin-left: 200px;
    margin-right: 96px;
    border-radius: 20px;
}
.sec3secdiv{
    width: 500px;
    height: 224px;
}
/*footer style*/
footer{
    background-color: rgb(2, 0, 58);
    text-align:center;
    padding: 47px 0px;
}
footer h1{
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}
footer p{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #D9DBE1;
}
.fab,.fa-globe{
    font-size: 28px;
    color:honeydew;
    padding: 10px 10px;
}
@media (max-width: 700px){
    body{
        width: 329px;
    }
    header h1{
        width: 162px;
        height: 24px;
        font-weight: 700;
        font-size: 16px;
        color: #3A3A3A;
        text-align: center;
        margin: 0px auto;
    }
    #sec1{
        display:flex;
        flex-direction: column-reverse;
    }
    #sec1firstdiv{
        width: 404px;
        height: 222px;
    }
    #sec1firstdiv h1{
        width: 404px;
        height: 78px;
        font-weight: 700;
        font-size: 28px;
        color: #3A3A3A;
    }
    #sec1firstdiv p{
        width: 321px;
        height: 65px;
        font-weight: 600;
        font-size: 14px;
        color: #3A3A3A;
    }
    #sec1 img{
        width: 257px;
        height: 257px;
    }
    #logosec{
        width: 276px;
        height: 62px;
    }
    #logosec img{
        margin: 40px 20px 42px 20px;
    }
    #sec2heading{
        width: 150px;
        height: 24px;
        color:#3A3A3A;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
    }
    #sec2{
        margin: 0 auto;
        width: 329px;
        height:4504px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        grid-gap: 0px 30px;
        margin-bottom: 50px;
    }
    #seemore{
        width: 150px;
        height: 24px;
        color: #E02C6D;
        font-weight: 700;
        font-size: 16px;
        margin: 0px 0px 0px 23px;
        text-decoration: none;
    }
    #sec3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        width: 329px;
        height: 1200px;
        border-radius: 20px;
        box-shadow: -15px -15px 10px rgb(170, 96, 96);
    }
    #sec3 h1{
        width: 311px;
        height: 72px;
        font-weight: 700;
        font-size: 24px;
        color: #0A0826;
        margin-bottom: 0;
        margin-left: 2px;
    }
    #sec3 p{
        width: 329px;
        height: 88px;
        margin-left: 2px;
        margin-top: 70px;
        font-weight: 700;
        font-size: 16px;
        color: #6C6C6C;
    }
    #sec3 a{
        width: 155px;
        height: 44px;
        Padding: 10px 24px;
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        background-color: #E02C6D;
        color:#FFFFFF;
        margin-left: 2px;
        margin-top: 1px;
    }
    #sec3 img{
        width:404px;
        height: 270px;
        margin-left: 2px;
        margin-right: 3px;
        border-radius: 20px;
    }
}